<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../org/angular.min.js"></script>
</head>
<body>

<!--$scope(作用域) 是应用在 HTML (视图) 和 JavaScript (控制器)之间的纽带。?-->
<!--$scope 可应用在视图(View)和控制器(Controller)上。-->
<div ng-app="cqq" ng-controller="ctrl">
    商品名称: {{goods.data.title}} <br/>
    商品价格: {{goods.data.price}} <br/>
    购买数量: {{goods.data.num}} <br/>
    总计: {{goods.data.price * goods.data.num}} 元
    <br/>
    <input type="text" ng-model="cqq.name">
    <button ng-click="goods.add()">增加</button>
    <button ng-click="goods.reduce()">减少</button>

</div>
<script>
    var m = angular.module('cqq', []);
    m.controller('ctrl', ['$scope', function ($scope) {
        //alert(/it works/);
        $scope.cqq = {
            name: 'CaiQiqi'
        };
        $scope.goods = {
            data:  {'title': 'MacbookPro', 'price': '10000', 'num': 0},
            add: function () {
                $scope.goods.data.num = Math.min(++$scope.goods.data.num, 7);// 设置最多7件
            },
            reduce: function () {
                $scope.goods.data.num = Math.max(--$scope.goods.data.num, 0)//为避免出现负值
            }
        }
    }]);
</script>
</body>
</html>